#containerDiv {
  height: 100%;
  width: 100%;
  background-color: rgb(60, 60, 60) !important;
  background-size: 50px 50px;
  display: flex;

  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
#containerDiv > * {
    height: 100%;
    width: 100%;
  }
  
.infoDiv {
  position: absolute;
  display: block;
  bottom:0;
  padding-left: 10px;
  padding-right: 10px;
  width:20%;
  z-index: -1;
  background-color: darkslategray;
  opacity: 50%;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:small;
}

.infoDiv:hover {
  opacity: 100%;
}

.newPortDiv {
  display:none;
  background-color: darkslategray;
  width:25%;

  margin-left: 37.5%;
  margin-right:37.5%;
  margin-top: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.newPortText {
  font-size:medium;
  margin-left: 5%;
  color: white;
}

#portInput {
  height: 38px;
  float: left;
  width: 95%;
  text-align:center;
  margin-left:2.5%;
  margin-right: 2.5%;
}

.portButton {
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	border-radius:5px;
	border:1px solid #337fed;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  height: 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
  float: left;
  margin-left:2.5%;
  margin-right: 2.5%;
  min-width:45%;
}
.portButton:hover:enabled {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.portButton:active:enabled {
	position:relative;
	top:1px;
}
/* .css-jpiblr:hover {
  background-color: rgb(255, 55, 0);
}
*/


#selectBtns {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	border-radius:5px;
	border:1px solid #337fed;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
  margin:4px;
  height: 38px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
  float: left;
  min-width: 100px;
}
#selectBtns:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
#selectBtns:active {
	position:relative;
	top:1px;
}


#selectText {
  font-size: 15px;
  font-family:Arial;
  padding: 4px;
  padding-left: 15px;
}